{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icons-1.4.1/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <script type="text/javascript" src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="row flex-fill">
            <div class="col-2"></div>
            <div class="col-8 flex-fill">
                <div class="d-flex flex-fill align-items-center">
                    <a class="navbar-brand" href="{% url 'home' %}"><h2 class="mb-0">Reviewch</h2></a>
                    <img src="{% get_media_prefix %}reviewch_icon.png" width="32" height="32">
                    <div class="container-fluid">
                        <form class="d-flex" method="get" action="/search">
                            <input class="form-control me-2" name="q" type="search" placeholder="Search for review..." aria-label="Search">
                        </form>
                    </div>
                    <div class="d-flex justify-content-end" id="navbarNav">

                        <div class="dropdown">
                            <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person h1"></i>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
                                    <li><a class="dropdown-item" href="{% url 'register' %}">Sign up</a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </nav>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-2"></div>
    </div>


</body>
</html>