{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Review{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascript/create_review_requests.js' %}"></script>
    <script>
    $(function () {
        render();
    })
    </script>
{% endblock %}

{% block content %}

    <div class="cloud mt-3 p-3 mb-3">
        {% if form.errors %}
            <p>Error during registration. Please try again.</p>
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <form method="post" action="{% url 'create_review' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3" {% if request.user.is_staff %}{% else %}hidden{% endif %}>
                <label for="id_title" class="form-label">{% if language == 'english' %}User{% else %}Пользователь{% endif %}</label>
                {{ form.user|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_title" class="form-label">{% if language == 'english' %}Title{% else %}Заголовок{% endif %}</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_group" class="form-label">{% if language == 'english' %}Group{% else %}Группа{% endif %}</label>
                {{ form.group|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_text" class="form-label">{% if language == 'english' %}Text{% else %}Текст{% endif %}</label>
                {{ form.text|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_rating" class="form-label">{% if language == 'english' %}Rating{% else %}Рейтинг{% endif %}</label>
                {{ form.rating|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_tags" class="form-label">{% if language == 'english' %}Tags{% else %}Тэги{% endif %}</label>
                {{ form.tags|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_images" class="form-label">{% if language == 'english' %}Images{% else %}Изображения{% endif %}</label>
                {{ form.images|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">{% if language == 'english' %}Submit{% else %}Отправить{% endif %}</button>
        </form>
    </div>

{% endblock %}