{% extends "base.html" %}
{% load static %}

{% block title %}Reviewch{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'javascript/search_requests.js' %}"></script>
<script>
    $(function () {
        {% if user.is_authenticated %}
            render({{ user.id }}, '{{ search }}', '{{ ordering }}', '{{ group }}', {{ page }});
        {% else %}
            render(null, '{{ search }}', '{{ ordering }}', '{{ group }}', {{ page }});
        {% endif %}
    })
</script>
{% endblock %}

{% block content %}

    <div class="flex-fill cloud mt-3">
        <div class="d-flex flex-row justify-content-around">
            <button class="btn p-0 border-0 latest-order {% if ordering == '-created_at' %}btn-info{% endif %}"><h2 class="text-center p-3 m-0">Latest articles</h2></button>
            <button class="btn p-0 border-0 rating-order {% if ordering == '-average_rating' %}btn-info{% endif %}"><h2 class="text-center p-3 m-0">Most rating</h2></button>
            <button class="btn p-0 border-0" onclick="window.location.href='/tags/'"><h2 class="text-center p-3 m-0">Tags</h2></button>
            {% if user.is_staff %}
                <button class="btn p-0 border-0" onclick="window.location.href='/users/'"><h2 class="text-center p-3 m-0">Users</h2></button>
            {% endif %}
        </div>
        <div class="border-bottom"></div>
        <div class="d-flex flex-row justify-content-around">
            <button class="btn p-0 border-0 movies-group {% if group == 'Movies' %}btn-warning{% endif %}"><h2 class="text-center p-2 m-0">Movies</h2></button>
            <button class="btn p-0 border-0 games-group {% if group == 'Games' %}btn-warning{% endif %}"><h2 class="text-center p-2 m-0">Games</h2></button>
            <button class="btn p-0 border-0 books-group {% if group == 'Books' %}btn-warning{% endif %}"><h2 class="text-center p-2 m-0">Books</h2></button>
            <button class="btn p-0 border-0 music-group {% if group == 'Music' %}btn-warning{% endif %}"><h2 class="text-center p-2 m-0">Music</h2></button>
            <button class="btn p-0 border-0 sport-group {% if group == 'Sport' %}btn-warning{% endif %}"><h2 class="text-center p-2 m-0">Sport</h2></button>
        </div>
    </div>

    <div class="reviews"></div>

    <div class="mt-3 d-flex justify-content-center">
        <nav aria-label="cloud mt-3">
            <ul class="pagination">
                <li class="page-item"><a class="page-link prev-page" href="">Previous</a></li>
                <li class="page-item disabled"><a class="page-link cur-page" href="">...</a></li>
                <li class="page-item"><a class="page-link next-page" href="">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock %}