{% extends "base.html" %}
{% load static %}

{% block title %}Review name{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'javascript/review_requests.js' %}"></script>
    <script>
    $(function () {

        render({{ review_id }});
    })
    </script>
{% endblock %}

{% block content %}

    <div class="cloud mt-3">
        <div class="row px-4 py-3">
            <div class="d-flex flex-row align-items-center mb-2">
                <a href="#" class="d-flex review-author-image">Loading...</a>
                <a href="#" class="m-0 mx-2 review-author">Loading...</a>
                <p class="m-0 mx-2 text-secondary review-created-at">Loading...</p>
            </div>
            <div class="d-flex flex-row mb-2">
                <p class="m-0 fst-italic h4 review-group">Loading...</p>
            </div>
            <div class="d-flex flex-row mb-2">
                <p class="m-0 fw-bold h4 review-title">Loading...</p>
            </div>
            <div class="d-flex flex-row mb-2 review-tags">
                <p class="m-0">Loading...</p>
            </div>
            <div class="d-flex flex-column mb-2 review-text">
                <p class="m-0">Loading...</p>
            </div>

            <div id="carouselExampleControls" class="carousel slide mb-2 review-carousel" data-bs-ride="carousel">
              <div class="carousel-inner review-images">
              </div>
              <a class="carousel-control-prev" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex flex-row align-items-center">
                    <span class="h3 m-0 me-2"><i class="bi bi-star p-0"></i></span>
                    <span class="p-0 me-4 review-average-rating">Loading...</span>
                    <span class="h3 m-0 me-2"><i class="bi bi-heart p-0"></i></span>
                    <span class="p-0 review-likes">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cloud mt-3 mb-2">
        <div class="row px-4 py-3">
            <div class="d-flex flex-row border-bottom">
                <p class="fs-4">Comments</p>
            </div>
        </div>
        <div class="row px-4 border-bottom review-comments">
            <p>Loading...</p>
        </div>

    </div>

{% endblock %}